version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.19

jobs:
  test:
    <<: *defaults
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{arch}}-{{ checksum "package.json" }}
            - v1-dependencies-{{arch}}-

      - run: yarn install

      - save_cache:
          key: v1-dependencies-{{arch}}-{{ checksum "package.json" }}
          paths:
            - node_modules

      - run:
          name: Check format
          command: yarn format:check

      - run:
          name: Run linter
          command: yarn lint

      - run:
          name: Run tests
          command: yarn test:ci

  release:
    <<: *defaults

    steps:
      - checkout
      - run: yarn install
      - run: yarn build
      - run: yarn semantic-release

workflows:
  version: 2

  test:
    jobs:
      - test
      - release:
          requires:
            - test
